.font-15px{
    font-size:15px;
}

.line-cam {
    height: 3px;
    width: 50px;
    background-color: #F87614;
}

.line-cam1 {
    height: 3px;
    width: 30px;
    background-color: #F87614;
}

.line-cam2 {
    height: 3px;
    width: 10px;
    background-color: #F87614;
}

.background-cam {
    background-color: #F87614 !important;
}




