.line-cam {
    height: 1px;
    width: 50px;
    background-color: #F87614;
}

.line-cam1 {
    height: 1px;
    width: 30px;
    background-color: #F87614;
}

.line-cam2 {
    height: 1px;
    width: 10px;
    background-color: #F87614;
}

.font-15px {
    font-size: 15px;
}

.font-16px {
    font-size: 16px;
}

.font-17px {
    font-size: 17px;
}

.font-18px {
    font-size: 18px;
}
.font-19px {
    font-size: 19px;
}
.font-32px {
    font-size: 32px;
}

.font-40px {
    font-size: 40px;
}

.backgroud-cam {
    background-color: #F87614 !important;
}
#707070
.border-black {
    border-color: #707070 !important
}
.mb-7 {
    margin-bottom: 5rem !important;
}
